body {
    margin: 0;
}


.top{
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    align-items: center;
}
ul{
    display: flex;
    gap: 15px;
    
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

/* header 2 */

.header2 {
    display: flex;
    padding: 150px 250px;
    justify-content: space-between;
    height: 300px;
    
}

.right, .left {
    display: flex;
    flex: 1;
    
}

.right{
    width: 250;
    height: 150;
    
    
    justify-content: center;
    align-items: center;
    
    
    
}
/*
.b{
    color: white;
    font-weight: bold;
}
*/

.left{
    padding: 0 150px;
    
}
.text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.two {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: skyblue;
    border-radius: 8px;
    display: block;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #e5e7eb;
    font-weight: bolder;
}

/*end of header*/
.body1 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 250px;
    justify-content: center;
    align-items: center;
    
}
.card{
    
    
    
    gap: 50px;
    width: 200px;
    height: 170px;
    margin: 16px;
    border: 5px solid blue;
    border-radius: 8px;
    
}

img{
    height: 100%;
    width: 100%;
    
    
}
/* this tomake image same aspect ratio
.card img {
    object-fit: contain;
}

*/

p {
    text-align: center;
}

/* body2*/

.body2 {
    
    padding: 50px 250px;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    
}

.three {
    font-size: 36px;
    font-style: italic;
    
}
.four {
    text-align: end;
}