body {
    margin: 0;
}


.top{
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 250px;
    align-items: center;
}
ul{
    display: flex;
    gap: 15px;
    
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

/* header 2 */

.header2 {
    display: flex;
    padding: 150px 250px;
    justify-content: space-between;
    height: 300px;
    
}

.right, .left {
    display: flex;
    flex: 1;
    
}

.right{
    width: 250;
    height: 150;
    
    
    justify-content: center;
    align-items: center;
    
    
    
}
/*
.b{
    color: white;
    font-weight: bold;
}
*/

.left{
    padding: 0 150px;
    
}
.text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.two {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: skyblue;
    border-radius: 8px;
    display: block;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 16px;
    color: #e5e7eb;
    font-weight: bolder;
}

/*end of header*/
.body1 {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    
}
.body1 p{
    
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    
}
.maincards {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    
  
}
.maincards img{
    
    
    
    gap: 50px;
    width: 200px;
    height: 170px;
    margin: 20px;
    border: 5px solid blue;
    border-radius: 8px;
    
}

img{
    height: 100%;
    width: 100%;
    
    
}
/* this tomake image same aspect ratio
.card img {
    object-fit: contain;
}

*/



/* body2*/

.body2 {
    display: flex;
    flex-direction: column;
    padding: 50px 250px;
    
    
    background-color: #e5e7eb;
    
}

.body2 p {
    margin: 0;
}

.body2 j {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

.three {
    font-size: 36px;
    font-style: italic;
    
}
.four {
    text-align: end;
}

/* call for action*/
.call {
    display: flex;
    
    padding: 50px 250px;
    

}

.banner {
    display: flex;
    flex: 1;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 30px;
    
    justify-content: space-between;
    
    
}

.cleft, .cright {
    display: flex;
    flex: 1;
}

.cleft {
    flex-direction: column;
    padding: 0 100px;
    
    
}
.cleft p{
    margin: 0;
    text-align: left;
    font-size: 28px;
    font-weight: bold;
}
.cright {
    justify-content: center;
    align-items: center;
}
.cright button {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}